<h2 mat-dialog-title class="text-center">Thank you for visiting my portfolio.</h2>
<mat-dialog-content>
    <div class="mat-body-medium mb-2">
        <span class="mat-label-large text-gray-900">Declaimer:</span>
        This website is entirely static, meaning it doesn't require any server-side processing or data storage. There's no need to create an account or log in to access its content. You can use any credentials you prefer.
    </div>
    <div class="mat-body-medium mb-2">
        I've developed this website from scratch, utilizing JSON files for data storage and animation, as well as SVG files for vector graphics. While I've sourced these files from reputable sources and ensured their compatibility, I cannot guarantee that all of the content used is free of royalty restrictions. If you have any concerns regarding intellectual property rights, usage restrictions, or if you simply wish to get in touch, please feel free to contact me at 
        <a href="mailto:nithishT800@gmail.com">nithishT800&#64;gmail.com.</a>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>