<div class="flex justify-content-center align-items-center h-full">
    <mat-card appearance="outlined">
        <mat-card-header class="flex justify-content-center">
            <mat-card-title class="mb-3">Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" autocomplete="off">
                <div class="flex flex-column gap-2">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="Email" autocomplete="off" type="text" name="user_first_name" [(ngModel)]="credentials.user_first_name"  required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Email" type="text" name="user_last_name" [(ngModel)]="credentials.user_last_name" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" name="user_email" [(ngModel)]="credentials.user_email" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput autocomplete="off" [type]="hide() ? 'password' : 'text'" name="user_password" [(ngModel)]="credentials.user_password" required/>
                        <button
                          mat-icon-button
                          type="button"
                          matSuffix
                          (click)="clickEvent($event)"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide()"
                        >
                          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div>
                        <button class="w-full" mat-flat-button type="submit">Register</button>
                    </div>
                    <div>Already have an account ? <a [routerLink]="['/auth/login']" class="no-underline hover:underline">Login</a></div>
                    <div><a [routerLink]="['/auth/forgot-password']" class="no-underline hover:underline">Forgot password?</a></div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>