<div class="mat-display-small">Payment methods</div>
<div class="grid">
    <div class="col-12 md:col-4">
        <mat-card appearance="outlined" class="h-full">
            <mat-card-content class="h-full">
                <div class="flex flex-column justify-content-center h-full align-items-center">
                    <button mat-button (click)="initAddNewCard()">Add card <mat-icon>add</mat-icon></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    @for(card of card_list; track card){
        <div class="col-12 md:col-4 credit-card-hover">
            <mat-card appearance="outlined" class="h-full cursor-pointer" [ngClass]="{'border-primary-500 border-2': card.is_primary}">
                <mat-card-content class="h-full">
                    <div class="flex flex-column justify-content-between h-full gap-2">
                        <div class="flex justify-content-between">
                            <div class="flex align-items-center gap-1">
                                @if(card.is_primary){
                                    <mat-icon class="text-green-500">check_circle</mat-icon><div>Primary</div>
                                }@else{
                                    <div class="text-blue-500 hover:underline" matTooltip="Click to make this card primary" (click)="makeTheCardPrimary(card)">Make primary</div>
                                }
                            </div>
                            <img src="logos/{{card.card_number|creditCardBrandIdentifier}}.png" height="50px"/>
                        </div>
                        <div style="letter-spacing: 0.3rem;">{{card.card_number_text}}</div>
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex flex-column">
                                <div class="mat-label-large">EXPIRY</div>
                                <div>{{card.expiry_year_month}}</div>
                            </div>
                            <div class="flex flex-column">
                                <div class="mat-label-large">NAME</div>
                                <div>{{card.card_holder_name}}</div>
                            </div>
                            <div><button mat-button (click)="initAddNewCard(card)">Edit <mat-icon>edit</mat-icon></button></div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    }
</div>