<div class="w-full h-full">
    <mat-card appearance="outlined" class="h-full">
        <mat-card-content class="h-full">
            <div class="flex flex-column justify-content-center align-items-center h-full">
                <div class="mat-display-small text-blue-500">Premium</div>
                <div>Congratulations! You're a Premium user.</div>
                <div>Your current plan is Employer 365. And Your plan will expiry in 129 Days.</div>
                <div>If you need any support or having queries, Please reach out to us <a hre="javascript" class="hover:underline cursor-pointer">Here</a></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>