<mat-card appearance="outlined">
    <mat-card-content>
        <div><h3 class="text-center">Project summary</h3></div>
        <div class="grid">
            <div class="col-12 md:col-6">
                <label-data>
                    <label>Title</label>
                    <data>{{project_detail.project_name}}</data>
                </label-data>
                <label-data>
                    <label>Project number</label>
                    <data>{{project_detail.project_number}}</data>
                </label-data>
                <label-data>
                    <label>Dates</label>
                    <data>{{project_detail.project_dates}}</data>
                </label-data>
            </div>
            <div class="col-12 md:col-6">
                <label-data>
                    <label>Status</label>
                    <data>{{project_detail.project_status_text}}</data>
                </label-data>
                <label-data>
                    <label>No.Days</label>
                    <data>{{project_detail.project_total_days}}</data>
                </label-data>
                <label-data>
                    <label>Project value</label>
                    <data>{{project_detail.project_rate}}</data>
                </label-data>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <a mat-flat-button [routerLink]="['/employer/create-project', 'detail']">
            <mat-icon>edit</mat-icon>
            <div>Edit</div>
        </a>
    </mat-card-actions>
</mat-card>